.formContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 400px;
}

.form {
  width: 400px;
  margin: 0 auto;
}

.input {
  width: 385px;
}
.btn {
  width: 400px;
}

.error {
  color: red;
  text-align: center;
}
